* {
    box-sizing: border-box ;
}

body {
    background-color: rgb(82, 171, 174);
}

.background {
    background-image: url(/public/assets/imagens/Fundo\ tech\ azul.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

    /*Navbar*/

.navbar {
    width: 80%;
    height: 70px;
    margin: auto;
    border-radius: 20px;
    border: 5px solid rgb(21, 20, 20);
    background-color: rgb(105, 93, 112);
    background-image: linear-gradient(to right, rgb(42, 10, 150), rgb(11, 134, 134));
    
    position: absolute;
    top: 10px;
    left: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar img  {
    width: 50px;
    height: 50px;  
}
.logo {
    order: 3;
}
.img1 {
    order: 1;
}
.navbar .img2 {
    order: 2;
}
.navbar .img3 {
    order: 4;
}
.navbar .img4 {
    order: 5;
}


    /*Conteiner de tecnologia*/
.tecnologia { 
    width: 100%;
    height: 1000px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.tecnologia .tsection {
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 25px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tecnologia .tsection .tbox1 {
    width: 100%;
    height: 50%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;


    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}
.tecnologia .tsection .tbox2 {
    width: 55%;
    height: 55%;
    padding: 20px;
    line-height: 30px;
    margin-right: 20px;
    text-align: center;
    border-radius: 20px;
    color: rgb(63, 63, 63);
    background-color: rgb(201, 200, 200);;
    border-bottom: 10px solid rgb(13, 97, 128);
    text-shadow: 0px 0.5px 2px rgb(106, 104, 104);

}

.tecnologia .tsection .tbox1 .tcard1 {
    width: 30%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    color: rgb(63, 63, 63);
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(13, 97, 128);
    text-shadow: 0px 1px 3px rgb(106, 104, 104);

    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.tecnologia .tsection .tbox1 .tcard2 {
    width: 30%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    color: rgb(63, 63, 63);
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(13, 97, 128);
    text-shadow: 0px 1px 3px rgb(106, 104, 104);

    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.tecnologia .tsection .tbox1 .tcard3 {
    width: 30%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    text-shadow: 0px 1px 3px rgb(106, 104, 104);
    color: rgb(63, 63, 63);
    border-bottom: 10px solid rgb(13, 97, 128);
    
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.tecnologia .tsection .tbox1 img {
    width: 70px;
    margin-bottom: 10px;
}
 
.tecnologia .tsection .tbox1 h1, p {
    margin: 0px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;

}

.tecnologia .tsection .tbox1 h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.tecnologia .tsection .tbox2 h1, p {
    margin: 0px;
}

.tecnologia .tsection .tbox2 h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.tecnologia .tsection .tbox2 p {
    font-size: 16px;
}



/*Conteiner Estudos*/
.estudos {
    width: 100%;
    height: 1000px;
    margin: auto;
    padding: 50px;
    background-image: url(/public/assets/imagens/Livros.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.estudos .ebox {
    width: 75%;
    height: 70%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.estudos header {
    width: 40%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(63, 63, 63);


    display: flex;
    flex-direction: column;
    align-items: center;
}

.estudos header h1 {
    margin: 0px;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(63, 63, 63);
}

.estudos header img {
    width: 100px;
}

.ebox img  {
    width: 80px;
    height: 80px;
    border-radius: 10px; 
    opacity: 1
}

.ebox1 img {
    width:100px ;
}

.ebox2 img {
    width:100px ;
}

.ebox3 img {
    width: 80px;
    height: 80px;
}

.ebox4 img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(227, 225, 225);
}

.ebox6 img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(22, 46, 152)
}


.estudos div {
    padding: 10px;
    
}
.estudos .ebox1 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);

   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.estudos .ebox2 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.estudos .ebox3 {
    width: 30%;
    height: 30%;

    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.estudos .ebox4 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.estudos .ebox5 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.estudos .ebox6 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.estudos .ebox7 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.estudos .ebox8 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.estudos .ebox9 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}
.estudos .ebox10 {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    border-bottom: 10px solid rgb(56, 55, 55);
    
   
    display: flex;
    justify-content: center;
    align-items: center ;
}

    /*Rodapé*/

footer {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(22, 22, 57));
    background-image: url(/public/assets/imagens/Textura\ footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

footer .fsection {
    width: 100%;
    height: 100%;
    padding: 50px;

    border: 5px solid rgb(124, 19, 19);

    display: flex;
    flex-direction: row;
}

footer .fsection .fcontato {
    width: 20%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.9;
    background-color: rgb(91, 91, 91);
    border-bottom: 10px solid rgb(56, 55, 55);

    display: flex;
    flex-direction: row;
}
.fimg {
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ftext {
    margin: 0px;        
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.ftext h1 {
    margin: 0px;
}

footer .fsection .fcontato img {
    width: 50px;
}
